.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 960px;
  border-bottom: 1px solid #f2f4f7;
  background: #f2f4f7;
  padding: 0px 120px;
  height: 68px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 6;
}
/* 
.headerContainer {
  width: 1200px;
} */

.navList {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  width: 1200px;
  padding-left: 0;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;
}

.active {
  color: #0b44cd;
}

.rentalCarLogoContainer {
  padding-left: 40px;
}
