.carsList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 0 120px 80px 120px;
  /* margin: 0; */
  list-style-type: none;
}

.carCard {
  width: 276px;
  height: 424px;
}
